<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Cellar Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavBar" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavBar" [collapse]="isCollapsed">
    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link " href="# ">Add a Beer</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="# ">Drink a beer</a>
      </li>
    </ul>
    <form class="form-inline">
      <input class=" form-control mr-sm-2 " type="search " placeholder="Search " aria-label="Search ">
      <button class="btn" type="submit" id="search-button">Search</button>
    </form>
  </div>

</nav>